html
    head
        title= "RML MAPPER OUTPUT"
        style
            include css/transfer.css

        script(async defer src="https://solid.github.io/solid-auth-client/dist/solid-auth-client.bundle.js")

    body
        h1="RMLMapper output"


    div(id="div_output" class="box")
        div(class="boxheader") GENERATED RDF
        pre(id="pre_output") #{generatedRDF}




