a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
    border: black;
    border-style: solid;
    border-width: 1px;
    padding: 5px;
    font-weight: bold;
}


pre {
    white-space: pre-wrap;
    word-break: break-word;
}