#div_buttons {
    float: bottom;
    width: 50%;
    height: auto;


}

.box {

    width: 50%;
    height: auto;
    background-color: aliceblue;
    overflow-wrap: normal;
    text-align: left;
    border: dimgrey;
    border-style: dashed;
    border-width: 1px;
    padding: 5px;
    margin-top: 5px;
}

span.boxheader {
    font-weight: bold;
    color: dimgrey;
    padding-bottom: 5px;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.barcode {
    color: white;
    background-color: black;
    padding: 3px;

}